<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".AndroidLearnApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLearn"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidLearn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 中级工程师笔记详情页（传统 View 实现） -->
        <activity
            android:name=".feature.intermediate.detail.NoteDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidLearn.NoteDetail" />

        <!-- 高级工程师笔记详情页（传统 View 实现） -->
        <activity
            android:name=".feature.senior.detail.SeniorNoteDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidLearn.NoteDetail" />
    </application>

</manifest>